/*body{
    background-color: red;
}*/
#nav{
    height: 50px;
    background-color: #234567;
}
#nav ul{
    padding-top: 12px;
    list-style: none;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    color:white;
    font-size: 22px;
    margin-left: 40px;
    font-family: candara;
    text-decoration: none;
}
#logoImg{
    height:60px;
}